{
  "@context": {
    "@version": 1.1,
    "@vocab": "https://schemas.ocpp.org/2.0.1/",
    "schema": "https://schema.org/",
    "rdf": "http://www.w3.org/1999/02/22-rdf-syntax-ns#",
    "rdfs": "http://www.w3.org/2000/01/rdf-schema#",
    "xsd": "http://www.w3.org/2001/XMLSchema#",
    "ocpp": "./vocab.jsonld#",
    
    "ConnectorEnumType": "@id",
    "AuthorizationStatusEnumType": "@id",
    "ChargingStateEnumType": "@id",
    "IdTokenEnumType": "@id",
    "MeasurandEnumType": "@id",
    
    "cType2": "ocpp:cType2",
    "cCCS2": "ocpp:cCCS2",
    "cCCS1": "ocpp:cCCS1",
    "cType1": "ocpp:cType1",
    "sType2": "ocpp:sType2",
    "cCHAdeMO": "ocpp:cCHAdeMO",
    "cGBT": "ocpp:cGBT",
    "cTesla": "ocpp:cTesla",
    "cG105": "ocpp:cG105"
  }
}

